.dashboard-container {
  margin-top: 2rem;
}

.dashboard-data {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.dashboard-chart-container {
  border-radius: 1.1rem;
  margin-top: 2rem;
  padding: 2rem;
}

.chart-action {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.chart-title {
  font-size: 1.2rem;
}

.data-select {
  display: block;
  padding: 0.5rem;
  border: 1px solid var(--FIELD-COLOR);
  border-radius: 0.3rem;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
}

.chart-values {
  display: flex;
  gap: 2rem;

  font-weight: 500;
}

.value-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.guest-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: var(--LIGHT-RED-COLOR);
}

.user-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: var(--LIGHT-GREEN-COLOR);
}

.chart {
  margin-top: 2rem;

  width: 100%;
  height: 20rem;
}

.dashboard-bottom-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.dashboard-bottom-child {
  flex: 1;
}

.dashboard-bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.pichart-container {
  height: 10rem;
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.pichart-container > div {
  flex: 1;
}

.schedule-container {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first::before {
  content: "";
  position: absolute;
  left: 0;
  height: 5rem;
  width: 5px;
  margin-right: 1rem;
  background: var(--LIGHT-GREEN-COLOR);
}
.second::before {
  content: "";
  position: absolute;
  left: 0;
  height: 5rem;
  width: 5px;
  margin-right: 1rem;
  background: var(--LINK-COLOR);
}

.schedule-child {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.schedule-btn {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.schedule-title {
  font-size: 1rem;
  color: var(--DARKE-GREY-COLOR);
  font-weight: 500;
}

.schedule-place,
.schedule-time {
  font-size: 14px;
  color: var(--SECONDARY-TEXT-COLOR);
}

@media (max-width: 780px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
  }
  .dashboard-data {
    display: flex;
    flex-direction: column;
  }
  .dashboard-bottom-container {
    display: flex;
    flex-direction: column;
  }
}
