@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --PRIMARY-COLOR: #0d5f9a;
  --SECONDAY-TEXT-COLOR: #858585;
  --LIGHT-GREY-COLOR: #b0b0b0;
  --DARKE-GREY-COLOR: #666666;
  --LINK-COLOR: #346bd5;
  --BACKGROUND-COLOR: #f5f5f5;
  --FIELD-COLOR: #eaeaea;
  --TABLE-ODD-COLOR: #ededed;

  --WHITE-COLOR: #ffff;
  --BLACK-COLOR: #000000;

  --DANGER-COLOR: #af0000;

  --LIGHT-RED-COLOR: #e9a0a0;
  --LIGHT-GREEN-COLOR: #88e15e;
  --LIGHT-ACCENT-GREEN-COLOR: #ddefe0;
  --LIGHT-ACCENT-YELLOW-COLOR: #f4ecdd;
  --LIGHT-ACCENT-PINK-COLOR: #efdada;
  --LIGHT-ACCENT-SKY-COLOR: #dee0ef;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth 0;
}

body {
  background: var(--BACKGROUND-COLOR);
  font-family: "Montserrat", sans-serif;
}

.app-container {
  display: grid;
  grid-template-areas:
    "sidebar main "
    "sidebar main ";
  grid-template-columns: 15rem auto;

  margin: 1rem;
}

.main-container {
  grid-area: main;
  margin: 1rem 2em;
}
.auth-container {
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.2s ease-in;
}

button:active {
  transform: scale(0.94);
}

@media (max-width: 780px) {
  .app-container {
    display: block;
    grid-template-columns: none;
    margin: 1rem;
  }
}
